.navbar{
    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 40px;

    background:var(--primary);

    color:white;
}

.links{
    display:flex;
    gap:10px;
    color:white;
}
.links a{
    color: #E2E8F0; 
}

.links a:hover{
    color:#60A5FA;      
}
